body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 50px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: lawngreen;
    box-shadow: 0px 0px 50px lawngreen;
    border-radius: 100px;
    word-wrap: break-word;
    max-width: 60%;
    font-family: 'Kalam', cursive;
    font-size: 32pt;
}

nav {
    border-bottom: gray 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.navLink {
    list-style: none;
    display: inline;
    text-decoration: none;
}

.navLink a, .navLink a:visited {
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    font-size: 16pt;
    color: lawngreen;
    box-shadow: 0px 0px 10px lawngreen;
    border-radius: 50px;
}

.navLink a:hover {
    background-color: lawngreen;
    color: black;
}

textarea, input {
    padding: 8px;
    max-width: 350px;
}

.quizList {
    width: 100%;
    margin: 10px;
}

.quiz {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.quiz:hover {
    background-color: darkgreen;
    color: beige;
}

.emptyQuizzes {
    font-weight: bold;
    font-size: 20pt;
    margin: auto;
}

.quizName {
    font-size: 18pt;
    font-weight: bold;
    padding-bottom: 4px;
    margin-bottom: 0;
    word-wrap: break-word;
    max-width: 80%;
}

.quizDescription {
    font-size: 12pt;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
    word-wrap: break-word;
    max-width: 80%;
}

form {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSubmit {
    margin-top: 20px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
}

.formSubmit:hover {
    background-color: darkgreen;
    color: beige;
    border: 1px solid black;
}

.accountButton {
    text-align: center;
}

#initialQuizWindow, #outcomeWindow, .outcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.outcomeWeightsLabel {
    max-width: 100%;
    word-wrap: break-word;
}

#error {
    color: red;  
    padding-bottom: 10px;
}

#quizDescription {
    border: 1px solid darkgreen;
    margin-bottom: 8px;
    padding: 6px;
}

#quizName {
    border: 1px solid darkgreen;
    margin-bottom: 8px;
    padding: 6px;
}

.sliderPlusLabel {
    padding: 5px;
    border: 1px solid darkgreen;
    margin-bottom: 8px;
}

.sliderPlusLabel label {
    font-weight: bold;
}

.sliderContainer {
    padding-top: 8px;
    padding-bottom: 8px;
}

.sliderContainer label {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    background-color: rgb(94, 223, 94);
    font-weight: bold;
}

.outcome {
    padding-bottom: 15px;
    padding-top: 15px;
}

.outcome input {
    margin-bottom: 10px;
}

#outcomeWindow {
    background-color: darkgreen;
    padding: 20px;
}

.questionContainer {
    padding: 10px;
    padding-bottom: 35px; 
    background-color: darkgreen;
    border-bottom: 1px dashed lightgreen;
}

.question {
    margin-bottom: 25px;
    margin-top: 25px;
}

.answerContainer {
    background-color: beige;
    padding: 15px;
    border-bottom: 5px solid darkgreen;
}

.answerOption {
    padding: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.answerOption:hover {
    background-color: darkgreen;
    color: beige;
}

.answer {
    margin-bottom: 10px;
}

#description {
    font-style: italic;
    color: lawngreen;
    word-wrap: break-word;
    max-width: 50%;
    margin-bottom: 100px;
}

#resultWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultWindow h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#resultWindow p {
    font-style: italic;
    margin-bottom: 40px;
}

.ad {
    z-index: -1;
    box-shadow: 0px 0px 50px lawngreen;
}

#mainPageLeftAds {
    margin-right: 80px;
    margin-left: 20px;
    margin-top: 40px;
}

#mainPageRightAds {
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 20px;
}

#makeQuizTopAds {
    height: 200px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
}

#makeQuizLeftAds {
    margin-right: 100px;
}

#makeQuizRightAds {
    margin-left: 100px;
}

#takeQuizBottomAds {
    width: 90%;
    margin-top: 140px;
    height: 350px;
}

#contentPlusAds {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

#content {
    min-width: 350px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    margin-top: 20px;
    background-color: beige;
    color: black;
    box-shadow: 0px 0px 10px lawngreen;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changePasswordForm, #ownedQuizzes {
    overflow: hidden;
    transition: 0.5s;
}